src="/css/styles.css?v={random number/string}"

.comment {
	section: hero;
		div: 3 hero-head hero-body hero-foot;
			div: hero-head;
				div: navbar;
					div: container;
						div:navbar-brand;
							div: navbar-item;
							div: navbar-burger burger;
			div: hero-foot;
				div: tabs is-right fixtab;

	section: panel-secondary;
		div: feature-list columns;
		div: 3;
			div: feature-list-item column;

	footer: footer;
		div: content has-text-centered;

	nav: navbar is-fixed-bottom;
		div: navbar-brand;
			div: navbar-item sta !important;
				div: status tag;
			div: navbar-burger burger oftwo;
		div: navbar-menu;
			div: navbar-start;
			div: navbar-end;
	script: 2;
}

html.has-navbar-fixed-top, body.has-navbar-fixed-top {
    padding-top: 0;
}

body {
}

.hero.sup {
	background-image: url(/static/curtain.png) !important;
	background-size: 100%;
	height: 400px;
	background-position: center center;
	}
	.navbar > .container {
	    align-items: stretch;
	    display: flex;
	    min-height: 2.25rem;
	    height: 48px;
	    width: 100%;
	}
@media screen and (max-width: 768px) {
/*.ofee::before {
	content: 'Welcome to Cretue';
	padding-top: 10px;
	height: 45px;
	width: 200px;
	background: #2b2b2b;
	display: block;
	position: absolute;
	top: 1.5px;
	right: 50px;
	left: 0;
	opacity: 0;
	text-align: center;
	color: #fff;
	transform-origin: right;
	transition: background 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
				transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
				opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ofee.is-active::before {
	transform: translateX(-170px);
	opacity: 1;
	width: 200px;
	background: transparent;
	transform-origin: right;
	transition: background 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
				transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
				opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}*/
}
.hero-foot {
	margin-bottom: -1px;
}

.hero .tabs {

}

.hero .tabs ul {
	border-bottom: .1px solid #dbdbdb;
}
.tabs a {
	margin-bottom: 0;
}

@media screen and (min-width: 1025px) {
.navbar {
	min-height: 2.5rem;
}}

@media screen and (max-width: 768px) {
.hero.sup {
	max-height: 230px;
}
.hero-foot {
	margin-bottom: -41px;
}

}

				.comment-2 {
					div: div;
				}


.feature-list-item-inner {
	border-radius: 10px;

	}
	.feature-list-item-inner img{
		border-radius: 10px 10px 0 0;
	}


@media screen and (min-width: 1300px) {
.toolmenu {
	width: 65% !important;
	margin: 30px auto;
}
}
@media screen and (min-width: 1025px) {

}
@media screen and (max-width: 1024px) {
	.toolmenu {
		width: 98%;
		margin: 0 auto;
	}
	
}

.column.is-three-fifths {
	height: 457px;
	margin-top: 26px;
	padding-top: 0;
	overflow-y: scroll;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .14);
}

@media screen and (min-width: 769px) {
	.toolmenu {
		width: 90%;
		margin: 30px auto;
	}
}
@media screen and (max-width: 768px) {
.toolmenu {
	width: 90%;
	margin: 30px auto;

}
}

.learn-more-link {
	padding-bottom: 0px;
}

.navbar {
	background-color: gainsboro;
	opacity: 0.96;
	height: 48px;
	min-height: 3rem;
	}
	#menubar {
		background-color: #fafafa;
		height: 48px;
		transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1),
					height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
	}
	.navbar.is-fixed-bottom {
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
	}
	.navbar.is-fixed-top {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
	}
				.searchar {
					height: 30px;
					width: 100%;
					background-color: gainsboro;

				}

				/*.tabs.fixtab {
					margin-top: 48px;
				}*/
	#menubar .ac-gn-search-placeholder-container {
		display: block;
		visibility: hidden;
		background: transparent;
		transition: background .44s cubic-bezier(0.52, 0.16, 0.24, 1) .1s,
					visibility 0s linear .5s;
	}
	#menubar .menu {
		display: none;
		visibility: hidden;
	}
	@media screen and (max-width: 1088px) {
		
		#menubar.opened {
			height: 100%;
			background: #cecece;
			transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
						height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
			}
			


		#menubar .menu {
			width: 100%;
		    height: 100%;
		    top: 48px;
		    background: inherit;
		    position: absolute;
		    visibility: hidden;
		    display: block;
			}
			#menubar.is-fixed-top .ac-gn-search-placeholder-container {
				position: absolute;
			    height: 53px;
			    width: 100%;
			    right: 0;
			    left: 0;
			    padding: 0 10px 0 10px;
				display: block;

				visibility: hidden;
				background: transparent;
				transition: background .44s cubic-bezier(0.52, 0.16, 0.24, 1) .1s,
							visibility 0s linear .5s;
				}

				#menubar .ac-gn-searchview-close {
					z-index: 1;
					height: 2.25rem;
					line-height: 2.25rem;
					opacity: 0;
				}
				#menubar .ac-gn-search-placeholder-container .ac-gn-searchview-close-small {
					display: block;
				    right: auto;
				    position: relative;
				    width: auto;
				    bottom: 0;
				    height: 36px;
				    padding: 0 8px;
				    margin-left: 10px;
				    cursor: pointer;
					opacity: 0;
					}
					#ac-globalnav .ac-gn-search-placeholder-container .ac-gn-searchview-close:before {
						right: 0;
						content: '';
						display: block;
						position: absolute;
						z-index: 1;
						top: 0;
						width: calc(100% + 18px);
						height: 100%;
						border-radius: 0 4px 4px 0;


						margin: 0;
						padding: 0;
						pointer-events: auto;
						letter-spacing: normal;
					}
				#menubar .ac-gn-search-placeholder-container .ac-gn-search-small {
					top: 0;
					padding: 0;
					height: 2.25rem;
					display: block;
					position: absolute;
					}
					#menubar .ac-gn-link {
						display: block;
					    height: 2.25rem;
					    max-width: 584px;
					    margin: 0 auto;
					    padding: 0;
					    outline-offset: 0;
					    font-size: 17px;
					    white-space: nowrap;
					    -webkit-tap-highlight-color: transparent;

					    cursor: pointer;

					    opacity: 0;

					    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
						}
						#menubar .ac-gn-search-placeholder-container .ac-gn-search-placeholder-bar {
							display: flex;
							color: #fff;
						}
						#menubar .ac-gn-search-placeholder-bar::after {
							
							left: 0;
						    content: '';
						    display: block;
						    position: absolute;
						    z-index: 2;
						    bottom: 0;
						    width: 100%;
						    height: 2.11765em;
						    background-color: #bdbdbd;
						    border-radius: 4px;
						    transform: scaleY(0);
						    transform-origin: top;
						    opacity: 0;
						    transition: transform 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s,
						    			opacity 0.1s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.42s,
						   				-webkit-transform 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s;
						}
					#menubar .ac-gn-search-placeholder-container .ac-gn-search-small .ac-gn-link-search {
					left: 0;
					position: absolute;
					width: 32px;
					height: 2.25rem;
					background-position: left 8px center;
					background-size: 16px 16px;
					background-repeat: no-repeat;
					background-image: url(img/search/image_small.svg)
					}
					#menubar .ac-gn-search-placeholder-input {
						position: relative;
						z-index: 3;
						-webkit-box-flex: 1;
						flex: 1;
						line-height: 2.25rem;
						padding: 0;
						overflow: hidden;
						border-radius: 4px;
						font-size: 1em;
						box-sizing: border-box;

						}
						#menubar .ac-gn-search-placeholder-input-text {
							padding-left: 32px;

						}
				#menubar .ac-gn-search-placeholder-container .ac-gn-search {
					width: calc(100% - 20px);
				}
				#menubar .ac-gn-search-placeholder-container::after {
					content: '';
				    display: block;
				    height: 1px;
				    background: #bcbcbc;
				    position: absolute;
				    z-index: 2;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    opacity: 0;
				    transform: translateY(-46px);
				    transition: opacity .2s cubic-bezier(0.52, 0.16, 0.52, 0.84) .3s,
				        		transform 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s,
				        		-webkit-transform 0.38s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.15s;
				}
				#menubar .ac-gn-item {
					width: calc(100% - 80px);
					height: 44px;
					box-sizing: border-box;
					z-index: 1;
					vertical-align: bottom;
					position: absolute;
					display: inline-block;
					margin: 0;
					padding: 0;
				}
				.ac-gn-item a {
					color: #fff;
				}
				#menubar .ac-gn-item-menu::after {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: #bcbcbc;
				}
				#menubar .ac-gn-search::after {
					display: none;
				}
				#menubar .ac-gn-item:nth-child(3) {
					top: 106px;
					}
					#menubar .ac-gn-item:nth-child(2) {
						top: 62px;
						}
						#menubar .ac-gn-item:nth-child(1) {
							top: 18px;
						}
				#menubar .ac-gn-item-menu {
					opacity: 0;
					pointer-events: none;
					transform: translateY(+34px);
				}
				#menubar.opened .ac-gn-item-menu {
					opacity: 1;
					pointer-events: auto;
					transform: none;
				}
				#menubar .ac-gn-cretue {
					display: none;

				}
				#menubar .ac-gn-item-menu:nth-child(3){
					transition: opacity .3345s cubic-bezier(0.52, 0.16, 0.52, 0.84) .15s,
								transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s,
								-webkit-transform .4669s cubic-bezier(0.52, 0.16, 0.52, 0.84) .108s;
				}
				#menubar .ac-gn-item-menu:nth-child(2){
					transition: opacity .29294s cubic-bezier(0.52, 0.16, 0.52, 0.84) .13s,
								transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s,
								-webkit-transform .45043s cubic-bezier(0.52, 0.16, 0.52, 0.84) .095s;
				}
				#menubar .ac-gn-item-menu:nth-child(1){
					transition: opacity .26098s cubic-bezier(0.52, 0.16, 0.52, 0.84) .11s,
					    		transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s,
					    		-webkit-transform .43756s cubic-bezier(0.52, 0.16, 0.52, 0.84) .082s;
					}
					#menubar.opened .ac-gn-item-menu:nth-child(3){
						
						transition: opacity .3091s cubic-bezier(0.32, 0.08, 0.24, 1) .03s,
									transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s,
									-webkit-transform .3455s cubic-bezier(0.32, 0.08, 0.24, 1) .02s;
					}
					#menubar.opened .ac-gn-item-menu:nth-child(2){

						transition: opacity .32244s cubic-bezier(0.32, 0.08, 0.24, 1) .05s,
									transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s,
									-webkit-transform .35825s cubic-bezier(0.32, 0.08, 0.24, 1) .04s;
					}
					#menubar.opened .ac-gn-item-menu:nth-child(1){

						transition: opacity .33467s cubic-bezier(0.32, 0.08, 0.24, 1) .07s,
									transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s,
									-webkit-transform .37539s cubic-bezier(0.32, 0.08, 0.24, 1) .06s;
					}
				#menubar .ac-gn-list {
					display: block;
				    position: absolute;
				    z-index: 1;
				    bottom: 3.52941em;
				    right: 0;
				    top: 53px;
				    left: 0;
				    max-width: 664px;
				    margin: 0 auto;
				    padding: 45px 40px 8px;
				    height: auto;
				    -webkit-box-sizing: border-box;
				    box-sizing: border-box;
				    overflow-y: hidden;
				    -webkit-overflow-scrolling: touch;
				    visibility: hidden;
				    -webkit-transition: visibility 0s linear 1s;
				    transition: visibility 0s linear 1s;

				    cursor: default;
				    width: auto;
				    -webkit-box-pack: justify;
				    justify-content: space-between;
				    user-select: none;
				    list-style: none;

				    direction: ltr;
				    -webkit-font-smoothing: antialiased;
				    text-size-adjust: 100%;

				    transition: visibility 0s linear 1s;
    				transition-property: visibility;
				    transition-duration: 0s;
				    transition-timing-function: linear;
				    transition-delay: 1s;
				}
			#menubar.opened .ac-gn-list {
				visibility: visible;
				transition-delay: 0s;

			}

			#menubar.opened .ac-gn-searchview-close {
				opacity: 1;
				transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
			}
			#menubar.opened .ac-gn-link {
				opacity: 1;
				transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

			}
			#menubar.opened .ac-gn-search-placeholder-container {
				visibility: visible;
				background: #cecece;
				transition: background .18s cubic-bezier(0.32, 0.08, 0.24, 1) .18s,
							visibility 0s linear 0s;
				}
				#menubar.opened .ac-gn-search-placeholder-container::after {
				    opacity: 1;
				    transform: none;
				    transition: opacity 0.31s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s,
				        		transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s,
				        		-webkit-transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
				}
			#menubar.opened .ac-gn-search-placeholder-bar::after {
				transform: none;
				opacity: 1;
				transition: transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
							opacity 0.06s cubic-bezier(0.32, 0.08, 0.24, 1) 0.04s,
							-webkit-transform 0.36s cubic-bezier(0.32, 0.08, 0.24, 1);
			}
			#menubar .ac-gn-searchview {
				display: none;
			}
	}


		.navbar-brand {
			min-height: 2.25rem !important;
			height: 48px;
		}
		@media screen and (max-width: 1088px) {
			.is-fixed-bottom .navbar-brand {
				bottom: 0px;
				position: absolute;
				width: 100%;
			}
			.is-fixed-top .navbar-brand {
				top: 0px;
				position: absolute;
				width: 100%;
			}
		}
			.navbar-item {
				height: 48px;
			}
			.sta {
				margin-b : 0.7rem;
				}
				.tag:not(body).status {
					height: 27px;
					font-size: 0.8rem;
				}

			.navbar-burger {
				height: 3rem;
				width: 3rem;
			}
			@media screen and (max-width: 1088px) {
			.navbar-burger {
				height: 3rem;
				width: 3rem;
			}
			.navbar-burger span {
				transition-duration: 300ms;
			}
			.oftwo {
				z-index: 2;
			   }
			  .oftwo span {
			    }
			    .oftwo span:nth-child(1) {
			      top: calc(50% - 3px); }
			    .oftwo span:nth-child(2) {
			      top: calc(50% + 2px); }
			    .oftwo span:nth-child(3) {
			      top: calc(50% + 4px); }
			  .oftwo:hover {
			    background-cc: rgba(0, 0, 0, 0.05);
			    background-color: #cecece; }
			  .oftwo.is-active span:nth-child(1) {
			    transform: translateY(5px) rotate(45deg); }
			  .oftwo.is-active span:nth-child(2) {
			    transform: rotate(-45deg); 
				opacity: 1;}
			}


	
.navbar-item.is-tab {
    border-bottom: 1px solid transparent;
    min-height: 2.25rem;
    padding-bottom: calc(0.5rem - 1px);
}



.footer {
	height: 50px;
	padding: 1rem 1.5rem 0rem;
}

.has-text-centered {
	text-align: center !important;
    font-size: .6rem;
    height: 91px;
    bottom: 0;
}
.content p:not(:last-child) {
	margin-bottom: 0em;
}


html.ac-gn-noscroll {
    margin-top: 0 !important
}

html.ac-gn-noscroll,
html.ac-gn-noscroll body {
    overflow: hidden !important;
    height: 100% !important;
}

html.ac-gn-noscroll-long {
    overflow-y: scroll !important;
}

.img {
	/*height: 125px;*/

}

.body {
	overflow-x: hidden !important;
}

#alone {
	margin: 0 auto;
}

.billboard {
	display: none;
}


.unit-wrapper.low a.unit-link{
	z-index: -1;
}

.unit-copy-wrapper .control {
	width: 100%;
	text-align: center;

}
.unit-copy-wrapper .control .input {
	font-size: 14px;
	max-width: 450px;
	pointer-events: all;
	border-radius: 8px;
	width: 90%;
}
.unit-copy-wrapper .control a {
	font-size: 10px;
    border-radius: 7px;
    position: absolute;
    height: 25px;
    transform: translate(-66px,+3.2px);
}

h4 div {
	display: inline-block;
	cursor: pointer;
	pointer-events: all;
    border-radius: 10px;
}
h4 div:hover {
	background-color: darkseagreen;
    text-decoration: none;
}

h4 div.is-active {
	background-color: #aee2ae;
}

.cta-links a{
	border-radius: 8px;
	font-size: 14px;
}

.ani-container {
	position: absolute;
	bottom: 0;
	left: 50%;
	
}

.puzzle {
	/* width: 200px; */
	height: 200px;
	transform: translateX(-50%);
	margin-bottom: 18px;
	/* box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .14); */
	border-radius: 5px;
}
.block {
	display: none;
	height: 30px;
	transform: translateX(-50%);

	position: absolute;
    bottom: 100px;
}

.puzzle .column, .block .column {
	display: inherit;
}

.block .column {
	width: 40px;
	height: 40px;
}

.puzzle .columns:nth-child(1) .column {
	margin-top: 0;
}
.puzzle .columns:nth-child(4n) .column {
	margin-bottom: 0;
}
.puzzle .column:nth-child(1){
	margin-left: 0;
}
.puzzle .column:nth-child(4n){
	margin-right: 0;
}

.column.button.is-hovered {
	border-color: #dda4ff;
}
.column.button.is-hovered:hover {
	border-color: #a575c1;
}
.column.button.is-hovered:active {
	border-color: #ffffff;
}
.column.button.is-blank, .block .is-blk {
	border: none;
	background-color: inherit;
	pointer-events: none;
	z-index: -1;
}
.puzzle .columns, .block .columns {
	margin-left: 0;
	margin-right: 0;
}
.puzzle .column {
	width: 47px;
	height: 47px;
	margin: 2px;
	/* box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .14); */
	text-align: center;
}

.puzzle .button.is-light {
	background-color: #eeeeee;
}
.puzzle .button.is-light:hover {
	background-color: #bcefd4;
}
.puzzle .column.button.is-blank:hover, .block .is-blk.is-hovered {
	background-color: #eeeeee;
}
